NODE_ENV=development
PORT=3000
DATABASE_LOCAL=mongodb://localhost:27017/etxplore
DATABASE_PASSWORD=your_database_password_here
DATABASE=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/etxplore?retryWrites=true&w=majority&appName=Cluster0


JWT_SECRET=your-ultra-secure-and-ultra-long-secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=your_email_username
EMAIL_PASSWORD=your_email_password
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_FROM=your_email@example.com

# Production email settings
BREVO_API_KEY=your_brevo_api_key_here
BREVO_HOST=sandbox.smtp.mailtrap.io
BREVO_PORT=2525
BREVO_USERNAME=your_brevo_username 
BREVO_PASSWORD=your_brevo_password


CHAPA_SECRET_KEY=your_chapa_secret_key_here
